<<<<<<< HEAD
/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
=======
/* 
>>>>>>> eac614685d1a2891ae56456f1c0274afb95d2792

.authForm{
  background-color: rgb(163, 208, 208);
  padding: 10px;
  width: 200px;
  border-radius: 13px;
}



@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
<<<<<<< HEAD
}
 */
=======
} */


.form1{
  width: 300px;
  margin: 0 auto;
  border: 2px solid black;
  text-align: center;
  background-color: rgb(227, 227, 234);
  padding: 10px;
}
p{
  font-weight: 700;
}
button{
  border-radius: 40%;
  background: blue;
  color: #ffff;
}
>>>>>>> eac614685d1a2891ae56456f1c0274afb95d2792
