.Container {
    min-height: 100vh;
    min-width: 100vw;
    max-width: max-content;
    max-height: max-content;
    background-color: red;
}
.Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 100px;
}
.editForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 7px 0px;
}
.editForm label {
    display: inline-block;
    width: 140px;
    font-size: 0.8rem;
}

.ant-modal-footer {
    display: flex;
    flex-direction: row;
    margin-top: 30px !important;
}

.addCategoryForm {
    background-color: rgba(0, 0, 0, 0.2);
    width: 450px;
}

.formDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 25px;
}

.formDiv input {
    width: 300px;
    padding: 5px;
    border-radius: 7px;
}

.submitBtn {
    width: 300px;
    background-color: #1677ff;
    color: white;
    cursor: pointer;
    padding: 2px;
    border-radius: 10px;
}

.heading {
    font-size: 30px;
    font-weight: bold;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.icons p {
    cursor: pointer;
}