.layout {
    min-height: 84.5vh;
    max-height: max-content;
    display: flex;
    align-items: center;
    gap: 70px;
    background-image: linear-gradient(#4cb6eb,#7db8d6);
}

.card:hover {
    box-shadow: 1.5px 3px 8px 3px #0b1d51;
    transform: scale(1.1);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    cursor: pointer;
    color: #0b1d51;
}
