.header{
    background-color: whitesmoke;
    height: 50px;
    width: 300px;
    position: absolute;
    margin: 40px;
    padding: 5px;
    margin-left: 500px;
    margin-top: 8px;
  }

  .map{
  
    height:150px;
    width: 300px;
    position: absolute;
    margin: 40px;
    margin-left: 200px;
    margin-top: 12px;
  }
  .avatar {
    position: fixed;
    top: 10px; 
    right: 65px; 
    width: 45px; 
    height: 45px;
    display: flex;
    border-radius: 50%;
    background-color: black;
    
  }
  