.profileContainer{
    padding: 20px;
    width: 95vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
  }
  .sider{
    background-color: yellow;
    width: 25%;
    min-height: 50vh;
    background-color: rgba(0,0,0,0.2);
    border-radius: 15px;
  }
  .heading{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .heading img{
    border-radius:30px;
  }
  .menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu span{
    cursor: pointer;
    width: 80%;
    padding: 10px;
    border-radius: 7px;
  }
  .menu span:hover{
    background-color: black;
    color: white;
  }
  .content{
    /* background-color: rgba(0,0,0,0.2); */
    width: 72%;
    min-height: 90vh;
    padding: 20px;
  }
  .contentBox{
    border: 1px solid black;
    box-shadow: 5px 5px 8px 10px #888888;
    max-height: max-content;
    margin-top: -15px;
  }
  .detailsHeading{
    font-weight: bolder;
    font-size: 1.5rem;
    padding-left: 37px;
    padding-top: 30px !important;
  }
  .personalInfo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
  }
  .basicInfo{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }
  .profilePic{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .profilePic img{
    border: 1px solid black;
  }
  .uploadBtn{
    background-color: #ffff !important;
  }
  .editProfile{
   margin-left: 100px;
  }
  .editForm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(0,0,0,0.04);
    border: 1px solid black;
    border-radius: 10px;
    width: 70%;
    gap: 20px;
    padding: 50px;
    margin-bottom: 27px;
  }
  .editForm input,select{
    padding: 5px;
    border-radius: 5px;
    width: 40%;
  }
  .submitBtn{
    background-color: black !important;
    color: white !important;
    border-radius: 5px !important;
    padding: 5px !important;
    cursor: pointer;
    width: 40%;
  }
  .submitBtn:hover{
    background-color: blue !important;
  }
  /* profile page css  */
  
  .ant-input-group-addon{
    background-color: rgb(92, 176, 202) !important;
  }
  
  .form1{
    width: 300px;
    margin: 0 auto;
    border: 2px solid black;
    text-align: center;
    background-color: rgb(227, 227, 234);
    padding: 10px;
  }
  
  
  