.authForm{
    background-color: rgb(117, 185, 237);
    padding: 10px;
    width: 20vw;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
    height: 60vh;
  }

  .errors{
    color: red;
    font-size: 0.8rem;
  }
  .formFooter{
    display: flex;
    font-size: 0.8rem;
  }

  .option{
    width: 100%;
}
.h1{
    font-size: 27px;
    font-weight: bold;
    text-align: center;
}
.input{
    margin-left: 110px!important;
    position: relative;
    margin-top: 40px;
    margin-bottom: 10px;
}
.button{
    background-color: rgb(117, 185, 237); 
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
   
}
.button:active {
    background-color:blanchedalmond;
}