.authForm{
    background-color: rgb(163, 208, 208);
    padding: 10px;
    width: 340px;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .authForm input,select{
    color: black;
<<<<<<< HEAD
    padding: 5px;
    width: 80%;
    cursor: pointer;
  }
  .errors{
    color: red;
    font-size: 0.8rem;
  }
  .formFooter{
    display: flex;
    font-size: 0.8rem;
  }
=======
    border-color: black;
    margin-bottom: 10px;
  
}
.option{
    width: 100%;
}
.h1{
    font-size: 27px;
    font-weight: bold;
    text-align: center;
}
>>>>>>> 5e722c1111a989318dbbd83989e54da8c2c26773
