.authForm {
    background-color: rgb(102, 179, 223);
    padding: 10px;
    width: 340px;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 20px
}
.input{
    width: 45%;
    padding-top: 10px;
    padding-left: 50px;
    color: black;
    border-color: black;
    margin-bottom: 10px;
  
}
.option{
    width: 100%;
}
.h1{
    font-size: 27px;
    font-weight: bold;
    text-align: center;
}